Examenes/EX2/22-1/FrontEnd_CSharp/ConferenceSoft/ConferenceSoft/Connected Services/serviciosWS/ServiciosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.confesoft.pucp.du.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServiciosWS" targetNamespace="http://services.confesoft.pucp.du.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ConferenceSoftServices/ServiciosWS?xsd=1" namespace="http://services.confesoft.pucp.du.pe/" />
    </xsd:schema>
  </types>
  <message name="listarEventosPorNombre">
    <part name="parameters" element="tns:listarEventosPorNombre" />
  </message>
  <message name="listarEventosPorNombreResponse">
    <part name="parameters" element="tns:listarEventosPorNombreResponse" />
  </message>
  <message name="insertarEvento">
    <part name="parameters" element="tns:insertarEvento" />
  </message>
  <message name="insertarEventoResponse">
    <part name="parameters" element="tns:insertarEventoResponse" />
  </message>
  <message name="listarPonenciasPorIdEvento">
    <part name="parameters" element="tns:listarPonenciasPorIdEvento" />
  </message>
  <message name="listarPonenciasPorIdEventoResponse">
    <part name="parameters" element="tns:listarPonenciasPorIdEventoResponse" />
  </message>
  <message name="listarIntegrantesPorNombreTipo">
    <part name="parameters" element="tns:listarIntegrantesPorNombreTipo" />
  </message>
  <message name="listarIntegrantesPorNombreTipoResponse">
    <part name="parameters" element="tns:listarIntegrantesPorNombreTipoResponse" />
  </message>
  <portType name="ServiciosWS">
    <operation name="listarEventosPorNombre">
      <input wsam:Action="http://services.confesoft.pucp.du.pe/ServiciosWS/listarEventosPorNombreRequest" message="tns:listarEventosPorNombre" />
      <output wsam:Action="http://services.confesoft.pucp.du.pe/ServiciosWS/listarEventosPorNombreResponse" message="tns:listarEventosPorNombreResponse" />
    </operation>
    <operation name="insertarEvento">
      <input wsam:Action="http://services.confesoft.pucp.du.pe/ServiciosWS/insertarEventoRequest" message="tns:insertarEvento" />
      <output wsam:Action="http://services.confesoft.pucp.du.pe/ServiciosWS/insertarEventoResponse" message="tns:insertarEventoResponse" />
    </operation>
    <operation name="listarPonenciasPorIdEvento">
      <input wsam:Action="http://services.confesoft.pucp.du.pe/ServiciosWS/listarPonenciasPorIdEventoRequest" message="tns:listarPonenciasPorIdEvento" />
      <output wsam:Action="http://services.confesoft.pucp.du.pe/ServiciosWS/listarPonenciasPorIdEventoResponse" message="tns:listarPonenciasPorIdEventoResponse" />
    </operation>
    <operation name="listarIntegrantesPorNombreTipo">
      <input wsam:Action="http://services.confesoft.pucp.du.pe/ServiciosWS/listarIntegrantesPorNombreTipoRequest" message="tns:listarIntegrantesPorNombreTipo" />
      <output wsam:Action="http://services.confesoft.pucp.du.pe/ServiciosWS/listarIntegrantesPorNombreTipoResponse" message="tns:listarIntegrantesPorNombreTipoResponse" />
    </operation>
  </portType>
  <binding name="ServiciosWSPortBinding" type="tns:ServiciosWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarEventosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPonenciasPorIdEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarIntegrantesPorNombreTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiciosWS">
    <port name="ServiciosWSPort" binding="tns:ServiciosWSPortBinding">
      <soap:address location="http://localhost:8080/ConferenceSoftServices/ServiciosWS" />
    </port>
  </service>
</definitions>