Labs/Lab12/22-2/Front-End/CinemaSoftLP2/CinemaSoftLP2/Connected Services/ServiciosWS/ServiciosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservices.cinemasoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServiciosWS" targetNamespace="http://webservices.cinemasoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CinemaSoftLP2Services/ServiciosWS?xsd=1" namespace="http://webservices.cinemasoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarPelicula">
    <part name="parameters" element="tns:insertarPelicula" />
  </message>
  <message name="insertarPeliculaResponse">
    <part name="parameters" element="tns:insertarPeliculaResponse" />
  </message>
  <message name="listarActoresPorNombre">
    <part name="parameters" element="tns:listarActoresPorNombre" />
  </message>
  <message name="listarActoresPorNombreResponse">
    <part name="parameters" element="tns:listarActoresPorNombreResponse" />
  </message>
  <message name="listarPeliculasPorTitulo">
    <part name="parameters" element="tns:listarPeliculasPorTitulo" />
  </message>
  <message name="listarPeliculasPorTituloResponse">
    <part name="parameters" element="tns:listarPeliculasPorTituloResponse" />
  </message>
  <message name="listarActoresPorIdPelicula">
    <part name="parameters" element="tns:listarActoresPorIdPelicula" />
  </message>
  <message name="listarActoresPorIdPeliculaResponse">
    <part name="parameters" element="tns:listarActoresPorIdPeliculaResponse" />
  </message>
  <message name="listarGenerosTodos">
    <part name="parameters" element="tns:listarGenerosTodos" />
  </message>
  <message name="listarGenerosTodosResponse">
    <part name="parameters" element="tns:listarGenerosTodosResponse" />
  </message>
  <portType name="ServiciosWS">
    <operation name="insertarPelicula">
      <input wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/insertarPeliculaRequest" message="tns:insertarPelicula" />
      <output wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/insertarPeliculaResponse" message="tns:insertarPeliculaResponse" />
    </operation>
    <operation name="listarActoresPorNombre">
      <input wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/listarActoresPorNombreRequest" message="tns:listarActoresPorNombre" />
      <output wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/listarActoresPorNombreResponse" message="tns:listarActoresPorNombreResponse" />
    </operation>
    <operation name="listarPeliculasPorTitulo">
      <input wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/listarPeliculasPorTituloRequest" message="tns:listarPeliculasPorTitulo" />
      <output wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/listarPeliculasPorTituloResponse" message="tns:listarPeliculasPorTituloResponse" />
    </operation>
    <operation name="listarActoresPorIdPelicula">
      <input wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/listarActoresPorIdPeliculaRequest" message="tns:listarActoresPorIdPelicula" />
      <output wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/listarActoresPorIdPeliculaResponse" message="tns:listarActoresPorIdPeliculaResponse" />
    </operation>
    <operation name="listarGenerosTodos">
      <input wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/listarGenerosTodosRequest" message="tns:listarGenerosTodos" />
      <output wsam:Action="http://webservices.cinemasoft.pucp.edu.pe/ServiciosWS/listarGenerosTodosResponse" message="tns:listarGenerosTodosResponse" />
    </operation>
  </portType>
  <binding name="ServiciosWSPortBinding" type="tns:ServiciosWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarPelicula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarActoresPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPeliculasPorTitulo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarActoresPorIdPelicula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarGenerosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiciosWS">
    <port name="ServiciosWSPort" binding="tns:ServiciosWSPortBinding">
      <soap:address location="http://localhost:8080/CinemaSoftLP2Services/ServiciosWS" />
    </port>
  </service>
</definitions>