Labs/Lab12/22-2/Front-End/CinemaSoftLP2/CinemaSoftLP2/Connected Services/ServiciosWS/ServiciosWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservices.cinemasoft.pucp.edu.pe/" targetNamespace="http://webservices.cinemasoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarPelicula" type="tns:insertarPelicula" />
  <xs:element name="insertarPeliculaResponse" type="tns:insertarPeliculaResponse" />
  <xs:element name="listarActoresPorIdPelicula" type="tns:listarActoresPorIdPelicula" />
  <xs:element name="listarActoresPorIdPeliculaResponse" type="tns:listarActoresPorIdPeliculaResponse" />
  <xs:element name="listarActoresPorNombre" type="tns:listarActoresPorNombre" />
  <xs:element name="listarActoresPorNombreResponse" type="tns:listarActoresPorNombreResponse" />
  <xs:element name="listarGenerosTodos" type="tns:listarGenerosTodos" />
  <xs:element name="listarGenerosTodosResponse" type="tns:listarGenerosTodosResponse" />
  <xs:element name="listarPeliculasPorTitulo" type="tns:listarPeliculasPorTitulo" />
  <xs:element name="listarPeliculasPorTituloResponse" type="tns:listarPeliculasPorTituloResponse" />
  <xs:complexType name="listarPeliculasPorTitulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="pelicula" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPeliculasPorTituloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pelicula">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="actores" nillable="true" type="tns:actor" />
      <xs:element name="disponibleDoblada" type="xs:boolean" />
      <xs:element name="disponibleSubtitulada" type="xs:boolean" />
      <xs:element minOccurs="0" name="duracion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaEstreno" type="xs:dateTime" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element name="idPelicula" type="xs:int" />
      <xs:element minOccurs="0" name="portada" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="sinopsis" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element name="idActor" type="xs:int" />
      <xs:element minOccurs="0" name="nacionalidad" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genero">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idGenero" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarActoresPorIdPelicula">
    <xs:sequence>
      <xs:element name="idPelicula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarActoresPorIdPeliculaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:actor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarActoresPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarActoresPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:actor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="pelicula" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPeliculaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGenerosTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarGenerosTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:genero" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>